$color1: black;
$color3: white;
$color4: black;
$color5: black;
$color6: black;
$color7: black;
$color8: black;
$color8: black;
$colorSPOTIFY: rgb(30, 215, 96);

$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.2em;
$font8: 2.4em;
